---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="TJ Clayton">
	<div>
		<h2>About</h2>
		<p>
      I'm Teagan, a junior developer currently based in the Canadian Maritimes. 
      Graduated with a college diploma in Mobile Application Design & Development from Algonquin College in Ottawa. 
      I specialize in responsive and accessible web design including mobile-first website development. 
    </p>
    <p>
      I have a background in interdisciplinary arts and still have a passion for the scene which can be seen in my projects. 
      I also have a passion for retro technology.  
      This background gives me a particular interest in creative, user friendly solutions, and making the most out of limitations.
    </p>
    <p class="no-spacing">
      <a href="">Download my resume.</a>
    </p>
		<h2>Highlights</h2>
    <ul role="list" class="link-card-grid">
      <ProjectCard
        image="/public/images/indie-artists-0.png" 
        href="/projects/work-1/"
        title="Indie Artists Club"
        body="Test"
      />
      <ProjectCard
        image="/public/images/indie-artists-0.png" 
        href="/projects/work-1/"
        title="Indie Artists Club"
        body="Test"
      />
      <p class="no-spacing"><a href="/projects/">See all projects.</a></p>
    </ul>
		<h2>Skills</h2>
		<p></p>
		<h2>Now</h2>
    <p>
      Now that I've graduated, I've been busy making the move back home. 
      Catching up, looking for a place to live and work, all that jazz. 
      I took on some work-trade projects in order to practice my skills further, 
      and have been looking into some other small projects to practice new things. 
      Most recently, I've been learning TypeScript (all around useful) 
      and Astro (which is fun, lightweight, and is what this site is built with!).
    </p>
		<p class="no-spacing">
      <a href="https://nownownow.com/about" target="_blank">Why now?</a>
    </p>
	</div>
</Layout>

<style>

	main {
		color: white;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}

  .no-spacing {
    margin: 0;
    padding: 0;
  }

  .no-spacing a {
    text-decoration: none;
  }

  .no-spacing a:hover {
    text-decoration: underline;
  }
</style>
