---
import Layout from '../layouts/Layout.astro';
import Card from '../components/BlogCard.astro';
---

<Layout title="TJ Clayton">
	<div>
		<h2>About</h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada lacus vel turpis euismod, ut elementum dolor bibendum. Mauris efficitur tortor sem, vitae rutrum orci consectetur dictum. Cras consequat tempus erat at tempor. Curabitur ut malesuada velit, eu lobortis mauris. Integer faucibus ex vel ultrices iaculis. Morbi mattis risus nec purus porta maximus. Curabitur molestie velit velit, eu ornare sapien volutpat vitae. Nunc pulvinar, elit suscipit fringilla placerat, nisl mauris tempor tortor, non iaculis felis quam sed lectus. Fusce justo quam, vulputate quis ornare sed, egestas semper mauris. Aenean vitae efficitur sem. Nullam porta eros convallis iaculis malesuada. Morbi ac lacus scelerisque, vehicula est quis, scelerisque quam. Mauris id turpis nec est condimentum fermentum. </p>
		<h2>Highlights</h2>
		<p></p>
		<h2>Skills</h2>
		<p></p>
		<h2>Now</h2>
		<p>Donec posuere viverra mi id hendrerit. Sed vehicula, erat ac ornare laoreet, urna dui fringilla dui, quis sodales urna nulla a massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla lectus tellus, luctus id ultricies quis, auctor vitae erat. Quisque eget libero feugiat, fermentum odio eu, ornare augue. Pellentesque ullamcorper leo sed aliquet auctor. Quisque vulputate venenatis aliquet. Nulla sit amet odio dignissim, malesuada ex ac, pulvinar sapien.</p>
	</div>
</Layout>

<style>

	main {
		color: white;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
