---
import { Icon } from "astro-icon/components";
---
<div class="social-icons">
  <a href="https://github.com/notosarme/"><Icon name="github-round" /></a>
  <a href="https://www.linkedin.com/in/teagan-clayton-a84546252/"
    ><Icon name="linkedin" /></a
  >
  <a href="https://www.instagram.com/notosarme/"><Icon name="instagram" /></a>
</div>

<style>
[data-icon] {
    font-size: 1.5rem;
    margin-left: 20px;
  }
</style>