---
import { Icon } from "astro-icon/components";
---
<footer>
  <div>
    <a href="https://github.com/notosarme/"><Icon name="github-round" /></a>
    <a href="https://www.linkedin.com/in/teagan-clayton-a84546252/"
      ><Icon name="linkedin" /></a
    >
    <a href="https://www.instagram.com/notosarme/"><Icon name="instagram" /></a>
  </div>
</footer>

<style>

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
[data-icon] {
    font-size: 1.5rem;
    margin-left: 20px;
  }
</style>